

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}


.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  padding-bottom: 80px;
  width: 1110px;
  margin: 0 auto;
}

.product-card {
width: 340px;
min-height: 573px;
background: #F7F7FA;
padding: 24px;

}

.product-card__img {
width: 290px;
display: block;
margin: 0 auto;
}

.product-card__title {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #515076;
}

.page-title{
font-weight: 400;
font-size: 70px;
line-height: 78px;
text-align: center;
align-items: center;
color: #515076;
}

.product-card__type-of-skin {
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-transform: uppercase;
color: #A5A3B9;
}

.product-card__description {
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: #515076;
}

.product-card__composition {
list-style-type: circle;
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: #515076;
}

.product-card__price-wrapper {
display:flex;
justify-content: space-between;
width: 290px;
height: 24px;
left: 110px;
top: 932px;
}
.product-card__price-text {
  width: 56px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.product-card__price {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}
